/* Fix broken GitHub CSS */
b, strong {
  font-weight: bold;
}

span.nb {
  white-space: nowrap;
}

p.clear {
  clear: both;
}

img.framed {
  border: 1px solid #ccc;
  padding: 1px;
  margin-left: 1em;
}